<!DOCTYPE html>
<html>
<head th:include="include :: header"></head>
<head>
<meta charset="UTF-8">
<title>各环节--任务反馈（内容+附件）</title>
<link type='text/css' rel='stylesheet' href="/css/all_workflow.css">
<style>
body,.message_div{
background-color:#e6e6e6;
padding-top:5px;
}
.submit_div{
max-width:100%;
}
</style>
</head>
<body>
	<div class="message_div">
		<form  id="add_form">
			<input id="id" name="id" type="hidden">
			<input id="taskId" name="taskId" type="hidden">
			<div class="message_detail_div">
				<div>
					<label class="label_left label_left_2">反馈说明：</label>
					<textarea id="fkqksm" name="fkqksm" ></textarea>
				</div>
				<div class="form-group">
	       			<label class="control-label label_left label_left_1">反馈附件：</label>
	              	<input id="file_fk" name="file_fk" type="file">
	            </div>
			</div>
		</form>
	</div>
	<div class="submit_div">
		<input class="detail_type_1" type="button" id="fb_button" onclick="submit_task(this)" value="提交" />
	</div>
	<div th:include="include::footer"></div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/plugins/layer/laydate/laydate.js"></script>
<script type="text/javascript" src="/js/appjs/act/workflow/sub_zjfk.js"></script>
</html>
