<!DOCTYPE html>
<html>
<head th:include="include :: header"></head>
<head>
<meta charset="UTF-8">
<title>承办人签收任务</title>
<link type='text/css' rel='stylesheet' href="/css/all_workflow.css">
</head>
<body>
	<div class="message_div">
		<div class="message_title ">
			<div>任务信息</div>
		</div>
		<form  id="add_form">
           <input id="taskId" name="taskId" th:value="${workflow.taskId}"  type="hidden">
           <input id="id" name="id" th:value="${workflow.id}"  type="hidden">
           <input id="cjsj" th:value="${workflow.cjsj}"  type="hidden">
           <input id="rwkssj" th:value="${workflow.rwkssj}"  type="hidden">
           <input id="rwwcsj" th:value="${workflow.rwwcsj}"  type="hidden">
           <input id="rwly" name="rwly" th:value="${workflow.rwly}"  type="hidden">
           <input id="nycd" name="nycd" th:value="${workflow.nycd}"  type="hidden">
           
           
<!--            <input id="rwzpqsry" name="rwzpqsry" type="hidden">
           <input id="rwzpqsryMc" name="rwzpqsryMc" type="hidden">
           
           <input id="cbry" name="cbry" th:value="${workflow.cbry}" type="hidden">
           <input id="cbryMc" name="cbryMc" th:value="${workflow.cbryMc}" type="hidden"> -->
           
           <input id="zzblry" name="zzblry" type="hidden">
           <input id="zzblryMc" name="zzblryMc" type="hidden">
           
		<div class="message_detail_div read_only">
			<div>
				<div class="more_div">
					<label class="label_left">任务来源：</label>
					<input id="rwlySelect" readonly="readonly"  >
				</div>
				<div class="more_div">
					<label class="label_left">任务创建人：</label> 
					<input id="cjryMc" name="cjryMc" readonly="readonly"   th:value="${workflow.cjryMc}">
					<input id="cjryId" name="cjryId"  class="hidden" th:value="${workflow.cjryId}">
					<!-- <select>
						<option>编号001</option>
					</select> -->
				</div>
				<div class="more_div">
					<label class="label_left">任务名称：</label> 
					<input id="taskName" name="taskName" type="text" readonly="readonly"  th:value="${workflow.taskName}"/>
				</div>
				<div class="more_div">
					<label class="label_left">任务指派人：</label>
					<!-- <input type="text"  id="userName" name="name" th:value="${user.name}"
					  placeholder="请输入姓名" /> -->
					<input id="rwzpry" name="rwzpry" class="hidden" th:value="${workflow.rwzpry}" >
                    <input id="rwzpryMc" name="rwzpryMc"
                                        type="text" 
                                        readonly="readonly" placeholder="--请选择--" th:value="${workflow.rwzpryMc}" >
					<!-- <select>
						<option>张三丰</option>
					</select> -->
				</div>
				<div class="clear_both"></div>
			</div>
			<div>
				<label class="label_left">任务内容：</label>
				<textarea id="rwnr" name="rwnr" readonly="readonly"  th:inline="text">[[${workflow.rwnr}]]</textarea>
			</div>
			<div class="more_div">
					<label class="label_left label_left_1">附件：</label>
					<div >
					<input id="files" th:value="${workflow.fileId}" class="hidden">
						<a href="#" onclick="download()" th:text="${workflow.fileMc}" onclick="downloadFile()"></a>
					</div>
			</div>
			<div>
				<label class="label_left label_left_1">难易程度：</label>
				<div>
					<label><input type="radio" id="JD" name="nycd" value="JD" disabled/>简单</label> 
					<label><input type="radio" id="ZC" name="nycd" value="ZC" disabled/>正常</label> 
					<label><input type="radio" id="Nan" name="nycd" value="Nan" disabled/>难</label>
				</div>
				<div class="clear_both"></div>
			</div>
			<div>
				<div class="more_div">
					<label class="label_left">开始时间：</label> <input id="rwkssjLabel" readonly="readonly"  
						class="laydate-icon layer-date" placeholder="请选择"
						>
				</div>
				<div class="more_div">
					<label class="label_left">结束时间：</label> <input id="rwwcsjLabel"   readonly="readonly"  
						class="laydate-icon layer-date" placeholder="请选择"
						>
				</div>
				<div class="clear_both"></div>
			</div>
			<div>
				<label class="label_left">办理意见：</label>
				<textarea id="blyj" name="blyj"  readonly="readonly"  th:inline="text">[[${workflow.blyj}]]</textarea>
			</div>
<!-- 			<div>
				<label class="label_left">完成情况</label> <select class="long_select">
					<option>已完成</option>
					<option>未开始</option>
					<option>进行中</option>
				</select>
			</div> -->
		</div>
		</form>
	</div>
	<div class="submit_div">
		<input type="button" id="save_button" onclick="Workflow_sign.sign()" value="签收" />
		<input type="button" id="saveAndStart_button" onclick="Workflow_sign.reject()" value="退回" />
	</div>
<div th:include="include::footer"></div>
<!-- <script type="text/javascript">
 $(function(){
                     var workflowDO='<%=request.getAttribute("workflowDO")%>'; //这种方法取出来是user是String类型
					
                     var workflowDO2='${workflowDO}'; //这种方法取出来是user是String类型
					 
					 console.log(workflowDO);
					 console.log(workflowDO2);
 })
 </script> -->

</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/plugins/layer/laydate/laydate.js"></script>
<script type="text/javascript" src="/js/appjs/act/workflow/workflow_sign_cbry.js"></script>
</html>
