<!DOCTYPE html>
<html>
<head th:include="include :: header"></head>
<head>
<meta charset="UTF-8">
<title>牵头人-分办任务</title>
<link th:href="@{/app/css/all_workflow.css}" rel="stylesheet"/>
<link th:href="@{/app/css/task_manage/small_layer.css}" rel="stylesheet"/>
</head>
<style>
	.message_div {
		padding:10px !important;
	}
	#cbryMc{
		width:99%;
	}
	#comment{
		width:99%;
		height:100px;
	}
	.body_layer_1 .message_detail_div>div {
	  	margin: 0;
	}
	.body_layer_1 .message_detail_div {
	  	padding: 0;
	}
	.label_left {
	  	float: left;
	  	width: 90px;
	 	margin-top: 5px;
	  	font-size: 14px;
	}
</style>
<body class="body_layer body_layer_1">
	<div class="message_div">
		<form  id="add_form">
			<input id="id" name="id" type="hidden">
			<input id="taskId" name="taskId" type="hidden">
			<input type="hidden" id="rwbllx" name="rwbllx" value="FB" />
			<div class="message_detail_div">
				<div class="more_div detail_type_1">
					<label class="label_left">承办人员：</label>
					<input id="cbry" name="cbry" class="hidden" >
	             	<input id="cbryMc" name="cbryMc" type="text" onclick="openUser()" readonly="readonly" placeholder="--请选择--" >
				</div>
				<div class="more_div">
					<label class="label_left">处理意见：</label>
					<textarea id="points_for_option" id="comment" name="comment"></textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="submit_div">
		<input class="detail_type_1" type="button" id="fb_button" onclick="submit_task(this)" value="提交" />
		<input class="detail_type_1" type="button" onclick="cancel()" value="取消" />
	</div>
<div th:include="include::footer"></div>

</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/plugins/layer/laydate/laydate.js"></script>
<script type="text/javascript" th:src="@{/app/js/task_manage/sub_qtr_fb.js}"></script>
</html>
