<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,inital-scale=1.0">
		<title>工作流程图</title>
		
		<link th:href="@{/app/css/style.css}" rel="stylesheet" />
		<link th:href="@{/app/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/app/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet" />
		<link th:href="@{/app/css/template_mine.css}" rel="stylesheet" />
		<link th:href="@{/app/css/font-awesome.min.css}" rel="stylesheet"/>
		<!-- <link th:href="@{/css/workflow_other.css}" rel="stylesheet"/> -->
		<link th:href="@{/app/css/task_manage/task_manage_detail.css}" rel="stylesheet"/>
		<style>
			.all_center {
			 	height: calc(100% - 0.6rem);
			}
			#img_div{
				height: 100%;
				width: 100%;
				overflow: hidden;
			}
			.div{
				/* transform: rotate(90deg) translate(calc(25% - 15px),calc(50% - 30px)); */
				/* transform: rotate(90deg) translate(calc(25%),calc(50%)); */
			  	height: 100vw;
			  	width: 100vh;
			  	/* background: url(../images/11.png) no-repeat; */
			  	overflow: hidden;
			}
			.div img{
				width: calc(100% - 30px);
			}
		</style>
	</head>
	<body>
		<div id="app_div">
			<div class="title_div">
				<span onclick="go_back();">
					<img src="../images/back_history.png" />
				</span>
				<div>工作流程图</div>
			</div>
			<div class="all_center">
				<div id="img_div">
					<div class="div" id="img_div_show_div" style="background-color: #FFF;">
						<!-- <img th:src="@{/app/images/11.png}" /> -->
						<img id="img" alt="" src="">
					</div>
				</div>
			</div>
		</div>
	</body>
	<script th:src="@{/app/js/jquery.min.js}" type="text/javascript" ></script>
	<script th:src="@{/app/js/all.js}" type="text/javascript"></script>
	<script>
		$(function() {
			var width = $('#img_div').width();
			var height = $('#img_div').height();
			$('#img_div_show_div').height(width);
			$('#img_div_show_div').width(height);
			//$('img').height($('#img_div').width());
			var location_href = location.href;
			var img_src = location_href.split('=')[1];
			
			/* if(location_href.indexOf('processDefinitionId') != -1){
				img_src = location_href.split('=')[1].split('&')[0]+'/'+location_href.split('=')[2];
			}
			$('#img').attr('src','/activiti/task/trace/photo/'+img_src);
			if(location_href.indexOf('readId') != -1){
				$('#img').attr('src','/activiti/process/resource/read/image/'+img_src);
			} */
			$('#img').attr('src','/activiti/process/resource/read/image/'+img_src);
			$('#img_div_show_div').css('transform','rotate(90deg) translate('+(height - width)/2+'px,'+(height - width)/2+'px)');
		});
		//	返回
		function go_back(){
			/* var now_href = window.location.href;
			var web_html = now_href.substring(now_href.length-1);
			if(web_html == 1){
				window.location = "/app/workflow";
			}else if(web_html == 2){
				window.location = "../over_time/over_time.html";
			}else if(web_html == 3){
				window.location = "../task_manage/task_manage.html";
			} */
			window.history.go(-1);
		}
	</script>
</html>
