			#app_div{
				width: 100%;
				/* height: 100vh; */
				/* height:100%; */
				font-size: 12px;
				overflow: hidden;
				/* color: #a2a2a2; */
				color:black;
				font-family: "Microsoft YaHei";
			}
			.title_div {
				text-align: center;
			  	font-size: 16px;
			  	font-weight: bold;
			  	height: 0.6rem;
			  	line-height: 0.6rem;
			  	/* background-color: #0973e8; */
			  	color: #fff;
			  	background-color: #3DA6CD;
			}
			
			.title_div div{
				width: calc(100% - 100px);
  				float: left;
			}
			.title_div span {
			  	float: left;
			  	padding: 0 0.1rem;
			  	width: 50px;
			}
			.title_div span img{
				height: 20px;
			}
			.title_div .right_span img{
				height: 25px;
			}
			.message_div {
				height: calc(100% - 120px);
  				overflow-y: auto;
			}
			.message_title {
				height: 25px;
				line-height: 25px;
				border-bottom: 3px solid rgb(204, 204, 204);
			}
			.message_title div {
				border-bottom: 3px solid rgb(0, 153, 255);
				float: left;
				margin-top: -3px;
				font-size: 16px;
			}
			.message_div{
				color: #524E4E;
				color: #6E6E6E;
				background-color: #f6f6f6;
			}
			.message_detail_div_operaate .message_div{
				color: #000;
			}
			.message_detail_div{
				background-color: #fff;
  				/* background-color: #F5F1F1; */
  				border-top: 1px solid #ccc;
  				/* margin-bottom: 80px; */
			}
			.message_detail_margin_div{
				/* margin-top:10px; */
			}
			.message_detail_div .msg_div {
				min-height: 40px;
				line-height: 40px;
				border-bottom: 1px solid #ccc;
				padding-left: 20px;
				margin: 0;
			}
			.msg_div .long_span{
				display: inline-block;
  				line-height: 20px;
  				max-width: calc(100% - 90px);
  				padding-top: 10px;
			}
			.label_left {
				float: left;
				font-weight: normal;
				margin: 0;
				margin-right: 5px;
			}
			.message_detail_div .label_left{
				color: #6E6E6E;
			}
			.message_detail_div_operaate .label_left{
				/* color: #0973e8; */
				color: #2896BE;
			}
			.msg_div_read .label_left,.msg_div_read{
				color: #6E6E6E;
			}
			.label_left_1{
				
			}
			.more_div input, .more_div select, .message_detail_div textarea {
				width: calc(100% - 90px);
				height: 28px;
				line-height: 28px;
				padding: 0;
				padding-left: 5px;
				max-width: 1000px;
				border-radius: 0;
				/* color: black; */
				outline: none;
			}
			
			.more_div .relevance_input{
				width: calc(100% - 35px);
			}
			#rwzpryMc{
				overflow: hidden;
			  	white-space: nowrap;
			  	text-overflow: ellipsis;
			}
			.message_detail_div textarea{
				height: 80px;
				resize: none;
			}
			.submit_div {
				text-align: center;
				padding: 10px 0;
				/* position: absolute;
				bottom: 0; */
				width: 100%;
				height: 60px;
				background-color: #F6F6F6;
				background-color: #fff;
  				border-top: 1px solid #DDD8D8;
			}
			.submit_div input {
				height: 40px;
			 	line-height: 0;
			  	outline: none;
			  	/* background-color: #0973E8; */
			  	background-color: #3DA6CD;
				color: #fff;
  				font-size: 14px;
  				border:0;
  				border-radius: 5px;
  				width: 90px;
			}
			.submit_div input:hover {
				/* background-color: #6666ff; */
				color: #fff;
				background-color: #4175C7;
			}
			#file{
				display: inline-block;
				padding: 0;
			  	line-height: 20px;
			  	height: 24px;
			  	margin-top: 2px;
			}
			label input{
				vertical-align: text-bottom;
			}
			.select_m{
				width: calc(100% - 90px);
				float: left;
			}
			
			.block .star_score {
			    float: left;
			    margin-right: 20px;
			}
			.block>p{
				float: left;
			    margin: 0;
			}
			.star_score {
			   	background: url(../../images/starky.png);
			    width: 160px;
			    height: 21px;
			    margin-top: 8px;
			    position: relative;
			}
			.star_score a {
			    height: 21px;
			    display: block;
			    text-indent: -999em;
			    position: absolute;
			    left: 0;
			}
			#starttwo .star_score a.clibg {
			    background: url(../../images/starsy.png);
			    left: 0;
			}
			.no_bg{
				background: none !important;
			}
			.detail_div_texa{
				overflow: hidden;
			}
			.detail_div_texa *{
				float: left;
			}
			.detail_div_texa div{
				width: calc(100% - 90px);
			}
			/*閿熸枻鎷锋ā閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓渚ョ鎷烽�夐敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹寮�---閿熸枻鎷峰*/
			.input-group{
				width: calc(100% - 90px);
			}
			.input-group .form-control {
  				width: 90%;
  				display: block;
			}
			.input-group-btn{
				float: right;
			}
			.input-group-addon, .input-group-btn {
  				width: 10%;
  				display: block;
  			}
			button{
				width: 100%;
				border-radius: 0 !important;
				padding: 0 !important;
				height: 28px;
				border-radius: 0;
				line-height: 12px !important;
			}
			.dropdown-menu{
				border-radius: 0;
				top: calc(100% - 1px);
				min-width: 1000%;
			}
			/*閿熸枻鎷锋ā閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓渚ョ鎷烽�夐敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹寮�---閿熸枻鎷锋*/
			.more_div_pj,.more_div{
				/* margin: 5px 0; */
			}
			ul.dropdown-menu .table {
				table-layout: fixed;
			}
			ul.dropdown-menu .table-condensed>tbody>tr>td{
			  	white-space: nowrap;
			  	text-overflow: ellipsis;
			  	-o-text-overflow: ellipsis;
			  	overflow: hidden;
			}
			.time_type_div{
				line-hegiht: 25px;
			}
			.time_type_div span{
				margin: 0 10px;
			}
			.time_span{
				float: right;
			}
			.type_span{
				color: #09f;
			}
			.notice_div{
				padding: 10px 20px;
				height: 200px;
				overflow: auto;
			}
			.affiliate_file_div{
				color: #09f;
				padding: 0 10px;
				padding-bottom: 5px;
			}
			.affiliate_file_div img{
				height: 20px;
			}
			
			.message_detail_div input, .message_detail_div button,.message_detail_div textarea{
				border: 0 !important;
				background-color: transparent !important;
				outline: none;
			}
			.message_detail_div_operaate{
				color: #000;
				margin-bottom: 10px;
				background-color: #fff;
			}
			.message_detail_div_imp{
				margin-bottom: 10px;
			}
			.message_detail_div_imp .msg_div{
				color: #FF0000;
			}
			label{
				font-weight: normal;
			}
			input::-webkit-input-placeholder{
			    color: #000;
			    opacity: 0.5;
			}
			/* textarea閿熸枻鎷穌iv閿熸枻鎷烽敓鏂ゆ嫹鍙ㄩ敓锟� */
			.msg_textarea_div{
				height: 100px;
			}
			.msg_textarea_div textarea{
				line-height:20px;
				margin-top: 10px;
			}
			.title_div .submit_div{
				float: right;
				margin: 0 10px;
			}
			form{
				height: 100%;
			}
			.layui-layer-title {
			  	/* background-color: #0973e8 !important; */
			  	color: #fff !important;
			  	background-color: #3DA6CD !important;
			}
			.deal_admin_div>div{
				float: left;
			  	height: 30px;
			  	margin: 5px 0;
			  	padding: 0 10px;
			  	line-height: 30px;
			  	border-radius: 5px;
			  	color: #006EFF;
			  	margin-left: -5px;
			  	color: #fff;
  				/* background-color: rgba(9, 115, 232, 0.5); */
  				background-color: rgba(61, 166, 205, 0.72);
			}
